html,
body {
  margin: 1%;
  padding: 0;
  background-color: black;
}

* {
  box-sizing: border-box;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#logo {
  margin-top: 42px;
  margin-bottom: 17px;
  height: 93px;
  width: 268px;
}

.barSearch {
  width: 100%;
  height: 69px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#searchbar {
  width: 100%;
  font-size: 32px;
  height: 69px;
  background-color: #a9a5a580;
  padding: 15px;
  border-radius: 5px;
  border: none;
}

.fa-magnifying-glass {
  font-size: 32px;
  position: absolute;
  right: 4%;
}

.filters {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  gap: 5%;
  margin-top: 1%;
}

/* .btn {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 170px;
  height: auto;
} */



ul {
  position: absolute;
  list-style-type: none;
  list-style: none;
  bottom: -300%;
  left: 0%;
  /* padding-right: 15px; */
  height: 200px;
  width: 554px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  color: white;
  border-radius: 5px;
  padding-top: 25px;
  overflow: auto;
  text-align: left;
  word-wrap: break-word;
  cursor: pointer;
}

li {
  word-wrap: break-word;
  font-size: 18px;
}

li:hover{
  opacity: 0.5;
}

#Ingrédients {
  background-color: #3282f7;
  margin: 0px;
  padding-left: 15px;
}
.ingredient ul {
  background-color: #3282f7;
  display: none;
}

#Appareils {
  background-color: #68d9a4;
  padding-left: 15px;
}

.device ul {
  background-color: #68d9a4;
  display: none;
}

#Ustensils {
  background-color: #ed6454;
}

.ustensil ul {
  background-color: #ed6454;
  display: none;
}

.filterElement{
  display: flex;
  flex-direction: row;
  position: relative;
}

.buttonBarSearch {
  display: flex;
  align-items: center;
  padding-left: 15px;
  width: 200px;
  height: 70px;
  border-radius: 5px;
  color: white;
  border: none;
  font-size: 18px;
  cursor: pointer;

}


.filterIcon {
  position: absolute;
  color: white;
  font-size: 30px;
  right: 40px;
  bottom: 27px; 
  width: 0px;
  height: 0px;
  transform: rotate(-90deg);
}

/* Receipes */
#receipesList {
  width: 100%;
  height: auto;
  margin: 30px auto;
  font-size: 12px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 380px);
  justify-content: space-between;
  grid-gap: 10px;
}

.receipeCard {
  flex-shrink: 1;
  flex-wrap: wrap;
  width: auto;
  height: 364px;
}

.receipeCard .img {
  width: 100%;
  height: 50%;
  background-color: rgb(49, 57, 57);
}

.cardDescription {
  height: 50%;
  padding-left: 3%;
  background-color: rgb(23, 23, 23);
}

.cardTitleTime {
  display: flex;
  justify-content: space-between;
  background-color: rgb(23, 23, 23);
  font-family: 'Lato', sans-serif;
}

.cardTitleTime h2 {
  font-size: 16px;
  font-weight: 400;
  color: white;
}

.cardTitleTime .mealTimeLogo {
  display: flex;
  align-items: center;
  right: 0px;
  font-size: 18px;
  font-weight: 700;
  color: white;
}

.mealTime {
  margin: 0px 20px 0px 5px;
}

.cardIngredientDescription {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 130px;
}

.listIngredients {
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  width: 42%;
  padding-top: 13px;
}

.cardDescription .cardIngredientDescription .mealDescription {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  margin-right: 20px;
  width: 171px;
  height: 109px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
}

.rotate {
  transform: rotate(90deg);
  margin-left: 4px;
  top : 30px;
}

.open {
  width: 554px;
}

::-webkit-scrollbar {
  width: 5px;
  height: 20px;
  padding-right: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  width: 4px;
  background-color: white;
}

/* No highlight for input */
input:focus{
  outline: none;
}

::placeholder {
  color: white;
  opacity: 0.5;
}